.App {
    height: 100vh;
    background-color: #fcfcfc;
    position: relative;
    overflow-y: hidden;
}

.overflow-recentNotes {
    overflow: auto;
    max-height: calc(100vh - 7rem);
}

/* .overflow-content {
    overflow: auto;
    max-height: calc(100vh - 5.75rem);
} */

.input-title {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}

.input-textarea {
    height: calc(100vh - 8.5rem);
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;
    /* overflow: hidden; */
}

.note-list {
    cursor: pointer;
}

.alert {
    position: absolute;
    bottom: 1rem;
    right: 1.75rem;
}

@media (max-width: 767.98px) {
    .App {
        overflow-y: auto;
    }
}
